doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/semantic/semantic.css')
    script(src='/javascripts/jquery.js')
    script(src='/semantic/semantic.js')
    script(src='/javascripts/main.js')
  body
    block content
