extends default

block content

  include templates/nav
  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['sixteen', 'wide', 'column'])
      h3(class=['ui', 'header', 'blue'])= 'New Simple Task Manager with CRUD' 