.ui.pointing.menu
  a(class='item' href="http://localhost:3000/")
    | Start
  a(class='item' href="http://localhost:3000/new")
    | New Task
  a(class='item' href="http://localhost:3000/task")
    | View Tasks
  .right.menu
    .item
      .ui.transparent.icon.input
        input(type='text', placeholder='Search...')
        i.search.link.icon