.ui.pointing.menu
  a.item
    | Start
  a.item
    | New Task
  a.item
    | View Task
  .right.menu
    .item
      .ui.transparent.icon.input
        input(type='text', placeholder='Search...')
        i.search.link.icon